@{
    ViewBag.Title = "Clever Concierge";
}


@*<div class="container-fluid">*@

<!-- Page Header -->
<header class="masthead" style="background-image: url(/Content/img/lobbylarge2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Clever Concierge</h1>
                    <span class="subheading">A Visitor Management System</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container body-content">
    <div class="row text-center">
        <div class="section-header">
            <h2>OFFICE RECEPTION</h2>
        </div>
        <div class="col-md-3">
            <i class="fa fa-address-card-o fa-3x"></i>
            <br />
            <h3>Pre-Register Visitors</h3>
            <p>Start registering your client's visitors by filling out a simple form. If you can't find the host name create a new contact in just a few steps.</p>
        </div>


        <div class="col-md-3">

            <i class="fa fa-volume-control-phone fa-3x" aria-hidden="true"></i>
            <br />
            <h3>Notifying Hosts</h3>
            <p>Every host is registered with contact details so once their visitor is checked in you can notify them without delay.</p>

        </div>

        <div class="col-md-3">
            <i class="fa fa-smile-o fa-3x"></i>
            <br />
            <h3>Personalised Welcome</h3>
            <p>By leaving a note about any special requirements for your guests you can ensure that they will feel welcome and well looked after.</p>
        </div>

        <div class="col-md-3">
            <i class="fa fa-thumbs-o-up fa-3x"></i>
            <br />
            <h3>Enhanced Safety</h3>
            <p>Keeping an up-to-date visitor log will help you to run a busy office reception safely and securely.</p>
        </div>
    </div>
    <br />

    <div class="row text-center">
        <div class="col-md-4 col-md-offset-4">
            @*<div class="thumbnail">*@
                <h3>Are you ready?</h3>
                <a class="btn btn-lg btn-success" href="../Visitors/Index">Start Now &raquo;</a>
            @*</div>*@
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - <a href="http://nagyrs.co.uk" target="_blank">Reka S Nagy</a> - This is a non-commercial demo project</p>
    </footer>
</div>

@*</div>*@